// color palette - these colors will be the color swatches of the Colors section

$color-1: #B1301F; // Dark Red - Accent color
$color-2: #242021; // Almost black
$color-3: #3A96CF; // Light blue
$color-4: #A1B5A8; // Ash Grey
$color-5: #FAF3E6; // Parchment color for backgrounds

// additional colors

$success: #52796F; // green
$alert: $color-3; // red