/* Variables */


/* Layout */

// breakpoints
$S:     768px;   
$L:     1024px; 

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

#zen-preamble, #zen-supporting, #zen-participation, #zen-benefits, #zen-requirements {
  @include MQ(L) {
    margin-left: 85px;
  }
}


/* Menus */
//Footer
footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  @include MQ(L) {
    position: fixed;
    width: 75px;
    z-index: 1;
    top: 250px;
    left: 0;
    background-color: #A1B5A8; //$color-4
    overflow-x: hidden;
    padding: 10px 0; 
    display: block;
    a {
      padding: 5px 10px 5px 15px;
      text-decoration: none;
      display: block;
    }
  }
}

.sidebar {
  @include MQ(L) {
    display: inline-block;
  }
}

// Selection/Archives
.archives {
  display:none;
}
#design-archives nav ul{
  display:flex;
  flex-direction:row-reverse;
  justify-content: space-evenly;
}
#design-selection ul{
  @include MQ(L) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    li {
      justify-self: center;
    }
  }
}
// Resources
#zen-resources h3 {
  display: none;
}
#zen-resources ul {
  @include MQ(L) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

// Dividing Line
.design-selection:before, 
#zen-resources:before {
  width: 100%;
  height: 5px;
  background-color: red;
  display: inline-block;
  content: "";
  @include MQ(L) {
    display: none;
  }
}


/* Text Styling */
ul li {
  list-style-type: none;
}
h1, h2, .select {
  text-align: center;
}
#zen-summary {
  text-align: center;
}







//---------------Hourglass wrapping rules--------------------

//HOURGLASS WRAPPER_variables for triangle shape on each side of the text
$h1: 20em; // height based on typography --works non responsively at 400px viewport width
$hh1: 90vw; //height based on viewport width --testing, it gets messed up if viewport is different than 400px wide--
$w1: 30vw;

//HOURGLASS WRAPPER_text styling for hourflass wrapping

h3{
  text-align: center;  
}

.preamble h3,
.participation h3,
.requirements h3{
  text-transform: uppercase;
  margin-top: 2em;
}

.supporting p,
.preamble p{
  text-align: justify;
}

//HOURGLASS WRAPPER_separator between hourglass shapes
.preamble h3:before,
.participation h3:before,
.requirements h3:before{
  width: 100%;
  height: 5px;
  background-color: grey;
  display: inline-block;
  content: "";
  margin: 0 0 2em 0;
}

//HOURGLASS WRAPPER_general styles
.preamble p:nth-of-type(1):before,
.preamble h3:after,
.participation p:nth-of-type(1):before,
.participation h3:after,
.requirements p:nth-of-type(1):before,
.requirements h3:after,
.explanation p:nth-of-type(1):before,
.explanation h3:after,
.benefits p:nth-of-type(1):before,
.benefits h3:after,
.requirements p:nth-of-type(3):before,
.requirements p:nth-of-type(2):after{
  content:"";      
  opacity: .2;
  background-color: blue;  
  width: $w1;
}
//HOURGLASS WRAPPER_top LEFT of hourglass
.preamble p:nth-of-type(1):before,
.participation p:nth-of-type(1):before,
.requirements p:nth-of-type(1):before{
  shape-outside: polygon(0 0, 0% 100%, 100% 100%);
  float: left;  
}
//HOURGLASS WRAPPER_top RIGHT of hourglass

.preamble h3:after,
.participation h3:after,
.requirements h3:after{
  shape-outside: polygon(100% 0, 0% 100%, 100% 100%);  
  float: right;
}

//HOURGLASS WRAPPER_bottom LEFT of hourglass
.explanation p:nth-of-type(1):before,
.benefits p:nth-of-type(1):before,
.requirements p:nth-of-type(3):before{
  shape-outside: polygon(0 0, 0 100%, 100% 0);  
  float: left;
}

//HOURGLASS WRAPPER_bottom RIGHT of hourglass
.explanation h3:after,
.benefits h3:after,
.requirements p:nth-of-type(2):after{
  shape-outside: polygon(0 0, 100% 100%, 100% 0);  
  float: right;
}

//HOURGLASS WRAPPER_TOP OF HOURGLASS Dimensions of triangle wrapper
//CAUTION: THESE ONLY WORK AT A VIEWPORT WIDTH OF 400PX 
.preamble p:nth-of-type(1):before{
  //height: $h1 + 2em;  
  height: $hh1;
}

.preamble h3:after{
  height: $h1 + -2em;
}

.participation p:nth-of-type(1):before{
  height: $h1 + 11em;  
}

.participation h3:after{
  height: $h1 + 8em;
}

.requirements p:nth-of-type(1):before{
  height: $h1 + 10em;  
}

.requirements h3:after{
  height: $h1 + 7em;
}

//HOURGLASS WRAPPER_BOTTOM OF HOURGLASS Dimensions of triangle wrapper
//CAUTION: THESE ONLY WORK AT A VIEWPORT WIDTH OF 400PX 
.explanation p:nth-of-type(1):before{
  height: $h1 + 3em;  
}
.explanation h3:after{
  height: $h1 + 2em; 
}
.benefits p:nth-of-type(1):before{
  height: $h1 + -9em; 
}
.benefits h3:after{
  height: $h1 + -8.5em; 
}
.requirements p:nth-of-type(3):before{
  height: $h1 + 3em;  
}
.requirements p:nth-of-type(2):after{
  height: $h1 + 6em;  
}

//HOURGLASS WRAPPER_space for icon at the center of the hourglass

.preamble p:nth-of-type(3),
.participation p:nth-of-type(3){
  margin-bottom: 6em;
}
.requirements p:nth-of-type(2){
  margin-bottom: 3em;
}


