
#zen-explanation p:last-child::before {
    content: "";
    display: inline;
    float: right;
    clear: both;
    height: 75px;
    width: 75px;
    top: 500px;
    right: 75px; 
    opacity: 0; 
    z-index: -1;
    background-size: 75px 75px;
    background-image: url("https://raw.githubusercontent.com/hol16046/wdd331-fall21/c97dab0937f0a6deb7d451419aa3a7f4742e5b0e/zen-garden/assets/logo-red.svg");
    background-repeat: no-repeat;
    position:fixed;
    
    @include MQ(M){
      height: 110px;
      width: 110px;      
      background-size: 110px 110px;
    }

    @include MQ(S){
      height: 150px;
      width: 150px;
      top: 500px;
      right: 75px; 
      background-size: 150px 150px;
    }

    @include MQ(L){
      right: 100px;
    }
    
    //shorthand animations (pulse and float):
    -webkit-animation: pulse 0.5s 2.5s forwards, float 6s 3s ease-in-out infinite;
    animation: pulse 0.5s 2.5s forwards, float 4s 3.5s ease-in-out infinite;

    //shorthand animation (only pulse):
    // -webkit-animation: pulse 0.5s 2.5s forwards;
    // animation: pulse 0.5s 2.5s forwards;

    // I replaced the animation properties below with a single-line animation to be able to create a sequence of 2 animations
    // -webkit-animation-name: pulse;
    // animation-name: pulse;
    // animation-delay:2.5s;
    // -webkit-animation-delay:2.5s;
    // -webkit-animation-duration: 0.5s;
    // animation-duration: 0.5s;    
    // -webkit-animation-fill-mode:forwards;
    // animation-fill-mode:forwards;

    
}

@keyframes pulse {
    0%{
        opacity: 0;
    }
    10%{
        opacity:.50;
        transform-origin: 50% 50%;
        transform: rotate(-2deg) scale(5);
        transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
        opacity:70%;
        transform: rotate(-15deg) scale(1);
    }
}
@-webkit-keyframes pulse {
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:70%;
      transform: rotate(-15deg) scale(1);
    }
  }

  @keyframes float {
    0% {        
      transform: translatey(0px) rotate(-15deg) scale(1) rotate3d(0);
    }
    50% {      
      transform: translatey(-30px) rotate(-2deg) scale(1) rotate3d(1, 1, 1, -45deg);      
    }
    100% {
      transform: translatey(0px) rotate(-15deg) scale(1) rotate3d(0);
    }
  }

  @-webkit-keyframes float {
    0% {        
      transform: translatey(0px) rotate(-15deg) scale(1) rotate3d(0);
    }
    50% {      
      transform: translatey(-30px) rotate(-2deg) scale(1) rotate3d(1, 1, 1, -45deg);      
    }
    100% {
      transform: translatey(0px) rotate(-15deg) scale(1) rotate3d(0);
    }
  }
  
  

  #zen-preamble p:last-child::after {
    content: "";
    display: block;
    position: relative;
    height: 100px;
    width: 100px; 
    margin: 20px auto;
    background-size: 100px 100px;
    background-image: url("https://raw.githubusercontent.com/hol16046/wdd331-fall21/fbfcafa4e9fed71efd43e16d9409b5c6106ea601/zen-garden/assets/reparo-blue.svg");
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
    animation: rotation 4s infinite linear;
  }

  #zen-participation p:last-child::after {
    content: "";
    display: block;
    position: relative;
    height: 100px;
    width: 100px; 
    margin: 20px auto;
    background-size: 100px 100px;
    background-image: url("https://raw.githubusercontent.com/hol16046/wdd331-fall21/5a7ec510918f19fadb82ae1516d780c94c47a14f/zen-garden/assets/alohomora-blue.svg");
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
    animation: rotation 4.25s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(359deg);
    }
  }
  @-webkit-keyframes rotation {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(359deg);
    }
  }



  #zen-supporting::before {
    content: "";
    display: block;
    position: absolute;
    height: 75px;
    width: 75px; 
    top: 650px;
    left: 0;
    margin: 15px auto;
    background-size: 75px 75px;
    background-image: url("https://raw.githubusercontent.com/hol16046/wdd331-fall21/5a7ec510918f19fadb82ae1516d780c94c47a14f/zen-garden/assets/alohomora-blue.svg");
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .4));
  }