//---------------Hourglass wrapping rules--------------------

//HOURGLASS WRAPPER_variables for triangle shape on each side of the text
$h1: 20em; // height based on typography --works non responsively at 400px viewport width
$hh1: 80vw; //height based on viewport width --testing, it gets messed up if viewport is different than 400px wide--
$w1: 30vw;
$t1area: 240vw;//constant area creates an inverse relation between height and width

//HOURGLASS WRAPPER_text styling for hourflass wrapping

h3{
  text-align: center;  
}

.preamble h3,
.participation h3,
.requirements h3{
  text-transform: uppercase;
  margin-top: 2em;
}

.supporting p,
.preamble p{
  text-align: justify;
}

//HOURGLASS WRAPPER_separator between hourglass shapes
.preamble h3:before,
.participation h3:before,
.requirements h3:before{
  width: 100%;
  height: 5px;
  background-color: grey;
  display: inline-block;
  content: "";
  margin: 0 0 2em 0;
}


.preamble:before {
  content: "";
  opacity: .2; 
  background-color: blue;
  width: $w1;
  shape-outside: polygon(0 0, 0% 100%, 100% 100%);
  height: 100vh;
}



//HOURGLASS WRAPPER_general styles
.preamble p:nth-of-type(1):before,
.preamble h3:after,
.participation p:nth-of-type(1):before,
.participation h3:after,
.requirements p:nth-of-type(1):before,
.requirements h3:after,
.explanation p:nth-of-type(1):before,
.explanation h3:after,
.benefits p:nth-of-type(1):before,
.benefits h3:after,
.requirements p:nth-of-type(3):before,
.requirements p:nth-of-type(2):after{
  content:"";      
  opacity: .2;
  background-color: blue;  
  width: $w1;
}

//HOURGLASS WRAPPER_top LEFT of hourglass
.preamble p:nth-of-type(1):before,
.participation p:nth-of-type(1):before,
.requirements p:nth-of-type(1):before{
  shape-outside: polygon(0 0, 0% 100%, 100% 100%);
  float: left;  
}
//HOURGLASS WRAPPER_top RIGHT of hourglass

.preamble h3:after,
.participation h3:after,
.requirements h3:after{
  shape-outside: polygon(100% 0, 0% 100%, 100% 100%);  
  float: right;
}

//HOURGLASS WRAPPER_bottom LEFT of hourglass
.explanation p:nth-of-type(1):before,
.benefits p:nth-of-type(1):before,
.requirements p:nth-of-type(3):before{
  shape-outside: polygon(0 0, 0 100%, 100% 0);  
  float: left;
}

//HOURGLASS WRAPPER_bottom RIGHT of hourglass
.explanation h3:after,
.benefits h3:after,
.requirements p:nth-of-type(2):after{
  shape-outside: polygon(0 0, 100% 100%, 100% 0);  
  float: right;
}

//HOURGLASS WRAPPER_TOP OF HOURGLASS Dimensions of triangle wrapper
//CAUTION: THESE ONLY WORK AT A VIEWPORT WIDTH OF 400PX 
.preamble p:nth-of-type(1):before{
  //height: $h1 + 2em;  
  height: 80vw;
}

.preamble h3:after{
  height: $h1 + -2em;
}

.participation p:nth-of-type(1):before{
  height: $h1 + 11em;  
}

.participation h3:after{
  height: $h1 + 8em;
}

.requirements p:nth-of-type(1):before{
  height: $h1 + 10em;  
}

.requirements h3:after{
  height: $h1 + 7em;
}

//HOURGLASS WRAPPER_BOTTOM OF HOURGLASS Dimensions of triangle wrapper
//CAUTION: THESE ONLY WORK AT A VIEWPORT WIDTH OF 400PX 
.explanation p:nth-of-type(1):before{
  height: $h1 + 3em;  
}
.explanation h3:after{
  height: $h1 + 2em; 
}
.benefits p:nth-of-type(1):before{
  height: $h1 + -9em; 
}
.benefits h3:after{
  height: $h1 + -8.5em; 
}
.requirements p:nth-of-type(3):before{
  height: $h1 + 3em;  
}
.requirements p:nth-of-type(2):after{
  height: $h1 + 6em;  
}

//HOURGLASS WRAPPER_space for icon at the center of the hourglass

.preamble p:nth-of-type(3),
.participation p:nth-of-type(3){
  margin-bottom: 6em;
}
.requirements p:nth-of-type(2){
  margin-bottom: 3em;
}


