/* Layout */

// main breakpoints
$S: 768px; //S stands for Small
$L: 1024px; //L stands for Large
            
//mini breakpoints for the hourglass shape 
//M stands for "mobile"
$M: 490px;    //breakpoint for top hourglass of class .preamble
$M1: 605px;   //breakpoint for top hourglass of class .participation
$M2: 713px;   //breakpoint for bottom hourglass of class .explanation
$L1: 1100px;  // breakpoint for triangle wrapper width

$S2: 950px;   // placeholder - currently not in use
$L2: 1200px;  // placeholder - currently not in use
$L3: 1300px;  // placeholder - currently not in use

// media queries
@mixin MQ($canvas) {
  @if $canvas==M {
    @media only screen and (min-width: $M) {
      @content;
    }
  }

  @else if $canvas==M1 {
    @media only screen and (min-width: $M1) {
      @content;
    }
  }

  @else if $canvas==M2 {
    @media only screen and (min-width: $M2) {
      @content;
    }
  }

  @else if $canvas==S {
    @media only screen and (min-width: $S) {
      @content;
    }
  }

  @else if $canvas==L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }

  @else if $canvas==L1 {
    @media only screen and (min-width: $L1) {
      @content;
    }
  }
}

#zen-preamble,
#zen-supporting {
  @include MQ(L) {
    margin-left: 85px;
  }
}

.page-wrapper{
  max-width: 1100px;
  margin: 0 auto;
}