@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;800&family=Cinzel:wght@400;600;900&family=Ultra&display=swap');

$primary-font: 'Cherry Swash', serif;
$secondary-font: 'Martel', sans-serif;
$decorative-font1: 'BioRhyme Expanded', serif;
$decorative-font2: 'Cinzel', serif;
$decorative-font3: 'Ultra', serif;

h1, h2, h3 {
  font-family: $secondary-font;
  color: $color-2;
  font-weight: 900;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 0 0 0.4em;

  // @include MQ(S) {
  //   font-size: 3.2rem;
  // }

  // @include MQ(M) {
  //   font-size: 4rem;
  // }
}

h2 {
  text-transform: uppercase;
  margin: 1em 0;

  // @include MQ(S) {
  //   font-size: 1.8rem;
  //   margin: 1em 0 1.4em;
  // }
}

h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1.3em 0 .3em 0;
}

p {
  font-size: .9rem; 
  line-height: 1.2;
  color: lighten($color-2, 15%);
  margin: 0 0 .5em 0;
  font-family: $primary-font;

  a {
    font-family: $primary-font;
    color: $color-1;
    text-decoration: underline;
    font-weight: 400;
  }

  @include MQ(S) {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

a {
  font-family: $secondary-font;
  font-weight: bold;
  color: $color-2;
}
